.favorites-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.favorites-list h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.favorites-list p {
  font-size: 1.1rem;
  color: #777;
}

.favorites-list .recipe-card {
  display: inline-block;
  width: calc(33.333% - 30px);
  margin-right: 15px;
  margin-bottom: 15px;
}
